extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

  .row
    .col-sm-2    
    .col-sm-8  
      .panel
        .panel-body
          h1 Account
          p Here you can see the total balance for the id #{id} and all the transactions made by it.
  .row
    .col-sm-2
    .col-sm-4
      .panel
        .panel-body
          h2 Balance
          p Total: <b>#{balance} GAL</b>
    .col-sm-4
      .panel
        .panel-body
          h2 Transactions
          table(width='100%')
            tr 
              th From
              th To
              th Amount
            for transaction in transactions
              tr(class="#{transaction.block_id ? '' : 'bg-danger'}", title="#{transaction.block_id ? '' : 'Unverified transaction'}")
                td #{transaction.from}
                td #{transaction.to}
                td #{transaction.amount} GAL

  .row
    .col-sm-2
    .col-sm-8
      .panel
        .panel-body
          h2 Public key
          p(style="font-family:monospace; font-size:14px; max-width:250px;word-wrap:break-word;") !{public}
