extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

  .row    
    .col-sm-4  
      .panel
        .panel-body
          h1 Account
  .row
    .col-sm-4
      .panel
        .panel-body
          h2 Balance
          h3 #{balance} SHT
    .col-sm-4
      .panel
        .panel-body
          h2 Transactions
          ul
            each t in transactions
              h4 #{t.amount} SHT from #{t.from} to #{t.to}  
